
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, rgba(250,248,240,1) 0%, rgba(227,240,182,1) 50%, rgba(197,214,131,1) 100%);
    background-size: 2000%;
    transition: 1s;
    display: flex;
        flex-direction: column;
        gap: 20px;
}
    .home {
        background-position-x: left;
        transition: 1s;
    }
    .about {
        background-position-x: center;
        transition: 1s;
    }
    .view {
        background-position-x: right;
        transition: 1s;
    }
.barrier {
    max-width: 1250px;
    width: 100%;
    padding: 5px 10px 5px 10px;
}    
header {
    height: 100px;
    display: flex;
        justify-content: center;
        align-items: center;
}
    .header-container {
        display: flex;
            justify-content: space-between;
            align-items: center;
    }
        .logo {
            width: 150px;
            height: 90px;
            background-image: url(logo.png);
            background-size: 160%;
            background-position: center;
            background-repeat: no-repeat;
        }
        .tabs-container {
            display: flex;
                gap: 20px;
        }
            .tabs {
                list-style: none;
                display: flex;
                    gap: 20px;
                    align-items: center;
            }
                .tabs .active {
                    transition: 1s;
                    border-bottom-color: black;
                    border-bottom-width: 1px;
                }
                .tab {
                    transition: .5ms;
                    cursor: pointer;
                    border-bottom-style: solid;
                    border-bottom-color: transparent;
                    border-bottom-width: 1px;
                    padding: 5px;
                }
                    .tab:hover {
                        color: blue;
                    }
            .account-container {
                position: relative;
                padding-left: 10px;
                display: flex;
                    justify-content: center;
                    align-items: center;
            }
                .account-img {
                    height: 50px;
                    width: 50px;
                }
                    .account {
                        width: 80%;
                        height: 80%;
                        transition: 1s;
                        background-image: url(user.png);
                        background-repeat: no-repeat;
                        background-position-x: center;
                        background-position-y: center;
                        background-size: 100%;
                    }
                        .blank {
                            transition: 1s;
                            background-image: url(user.png);
                            background-repeat: no-repeat;
                            background-position-x: center;
                            background-position-y: -18%;
                            background-size: 175%;
                        }
                .account-pop_out {
                    transition: .5s;
                    cursor: pointer;
                    display: block;
                    position: absolute;
                    width: 130px;
                    list-style-type: none;
                    top: 48px;
                    left: -150%;
                    overflow: hidden;
                    border-top-style: solid;
                    border-left-style: solid;
                    border-color: transparent;
                }
                    .pop-tags {
                        padding-top: 5px;
                        padding-bottom: 5px;
                        padding-left: 2px;
                        color: white;
                        background-color: #f10000;
                        border-width: 2px;
                        transform: translateY(-1000px);
                    }
                        .one {
                            transition: .5s;
                        }
                        .two {
                            transition: 1s;
                        }
                        .three {
                            transition: 1.5s;
                        }
                        .showshit{
                            border-top-style: solid;
                            border-left-style: solid;
                        }
                        .showshit .pop-tags {
                            transform: translateY(0px);
                        }
                        .bline {
                            transition: .5s;
                            border-top-left-radius: 50%;
                            border-top-right-radius: 50%;
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 50%;
                        }
[data-tab-content] {
    display: none;
}
.active[data-tab-content] {
    display: block;
}
section {
    height: auto;
}
    .section-container {
        min-height: 600px;
        position: relative;
        display: flex;
            justify-content: center;
    }
        .home-container {
            overflow-y: hidden;
            display: flex;
                justify-content: center;
                align-items: center;
        }
            .home-info-container {
                display: flex;
                    flex-direction: column;
                    gap: 10px;
                    align-items: center;
            }
                .home-img {
                    width: 250px;
                    height: 250px;
                    background-color: #f10000;
                    border-radius: 50%;
                    transform: translateY(1000%);
                }
                .home-title {
                    font-size: 3vw;
                    text-align: center;
                    color: #104400;
                    transform: translateY(1000%);
                }
                .home-subtext {
                    width: 60%;
                    text-align: center;
                    transform: translateY(1000%);
                }
        .ac .section-container .home-info-container .home-img, .ac .section-container .home-info-container .home-title, .ac .section-container .home-info-container .home-subtext{
            transform: translateY(0);
        }
        .about-container {
            display: flex;
                justify-content: center;
                align-items: center;
            min-height: 600px;
            overflow-x: hidden;
        }
            .about-about {
                height: 95%;
                width: 95%;
                display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 100%;
                    grid-template-areas: "left right";
            }
                .about-image-container {
                    transform: translateX(-500%);
                    grid-area: left;
                    display: flex;
                        align-items: center;
                        justify-content: center;
                }
                    .about-image-area {
                        height: 70%;
                        display: flex;
                            align-items: center;
                            gap: 20px;
                    }
                    .about-img {
                        width: 250px;
                        height: 350px;
                        background-color: blue;
                    }
                        .o1 {
                            transform: translateY(-50px);
                        }
                        .o2 {
                            transform: translatey(50px);
                        }
                .about-word-container {
                    transform: translateX(500%);
                    grid-area: right;
                    background-color: blue;
                }
        .ac .section-container .about-container .about-about .about-image-container, .ac .section-container .about-container .about-about .about-word-container{
            transform: translateX(0);
        }


