
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, rgba(250,248,240,1) 0%, rgba(227,240,182,1) 50%, rgba(197,214,131,1) 100%);
    background-size: 2000%;
    transition: 1s;
}
    .home {
        background-position-x: left;
        transition: 1s;
    }
    .about {
        background-position-x: center;
        transition: 1s;
    }
    .view {
        background-position-x: right;
        transition: 1s;
    }
.barrier {
    max-width: 1250px;
    width: 100%;
    padding: 5px 10px 5px 10px;
}    
header {
    height: 100px;
    display: flex;
        justify-content: center;
        align-items: center;
}
    .header-container {
        display: flex;
            justify-content: space-between;
            align-items: center;
    }
        .logo {
            width: 150px;
            height: 90px;
            background-image: url(logo.png);
            background-size: 160%;
            background-position: center;
            background-repeat: no-repeat;
        }
        .tabs-container {
            display: flex;
                gap: 20px;
        }
            .tabs {
                list-style: none;
                display: flex;
                    gap: 20px;
                    align-items: center;
            }
                .tabs .active {
                    transition: 1s;
                    border-bottom-color: black;
                    border-bottom-width: 1px;
                }
                .tab {
                    transition: .5ms;
                    cursor: pointer;
                    border-bottom-style: solid;
                    border-bottom-color: transparent;
                    border-bottom-width: 1px;
                    padding: 5px;
                }
                    .tab:hover {
                        color: blue;
                    }
            .account-container {
                position: relative;
                display: flex;
                    justify-content: center;
                    align-items: center;
            }
                .account-img {
                    height: 50px;
                    width: 50px;
                }
                    .account {
                        width: 80%;
                        height: 80%;
                        transition: 1s;
                        background-image: url(user.png);
                        background-repeat: no-repeat;
                        background-position-x: center;
                        background-position-y: center;
                        background-size: 100%;
                    }
                        .blank {
                            transition: 1s;
                            background-image: url(user.png);
                            background-repeat: no-repeat;
                            background-position-x: center;
                            background-position-y: -18%;
                            background-size: 175%;
                        }
                .account-pop_out {
                    transition: .5s;
                    cursor: pointer;
                    display: block;
                    position: absolute;
                    width: 130px;
                    list-style-type: none;
                    top: 48px;
                    left: -150%;
                    overflow: hidden;
                    border-top-style: solid;
                    border-left-style: solid;
                    border-color: transparent;
                }
                    .pop-tags {
                        padding-top: 5px;
                        padding-bottom: 5px;
                        padding-left: 2px;
                        color: white;
                        background-color: #f10000;
                        border-width: 2px;
                        transform: translateX(1000px);
                    }
                        .one {
                            transition: .5s;
                        }
                        .two {
                            transition: 1s;
                        }
                        .showshit{
                            border-top-style: solid;
                            border-left-style: solid;
                        }
                        .showshit .pop-tags {
                            transform: translateX(0px);
                        }
                        .bline {
                            transition: .5s;
                            border-top-left-radius: 50%;
                            border-top-right-radius: 50%;
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 50%;
                        }
[data-tab-content] {
    display: none;
}
.active[data-tab-content] {
    display: block;
}